.article__sectioncontenedor{
    background-color:#37A3C3 ;
    width: 600px;
    height: 700px;
    margin-left: 300px;
}

.article__section1{
    background-color: #000;
    color: #fff;
    width: 13.5rem;
    height: 28.4rem;
    p{
        padding: 0.5rem;
    }

}

.article__section__video{
    padding: 0.8rem;

    iframe{
        margin-left: 300px;
        height: 400px;
        width: 600px;
    
    }
}

.article__section__historia {
    background: #d6d6d6;
    margin: auto;
    
    

}

.section__historia{
    display: flex;
}

.section__titulo__historia{
    display: flex;
    justify-content: center;

}

.article__section__historia p{
    padding: 0.7rem;
   
}
