.section__img{
    display: block;
    width: 25.625rem;
    height: 40rem;
}

.article__sectioncontenedor{
    background-color:#37A3C3 ;
    width: 600px;
    height: 700px;
    margin-left: 300px;
}


.article__section1{
  
    background-color: #000;
    color: #fff;
    width: 13.5rem;
    height: 37.4rem;

    p{
        padding: 0.5rem;
    }

    
}



.article__section{
    display: flex;
    padding: 3rem;

    &__video{
        padding: 0.8rem;
    }

    &__video{
        
        iframe {margin-left: 300px;
        height: 400px;
        width: 600px;}
    
    }
    &__historia {
        background: #d6d6d6;
        margin: auto;
        
        p{
            padding: 0.7rem;
        }
        
    
    }
}

.section__historia{
    display: flex;
}

.section__titulo__historia{
    display: flex;
    justify-content: center;

}

