.padreA{
    display: flex;
}

.form-control me-2 input{
    width: 300px;
    

}

.titulo__ayuda{
    display: flex;
    justify-content: center;
    
}


.sectionn{
    background: #00aae4;
    border-radius: 10px;
}

.div__aa{
    margin: 10px;
}
