
footer{
    background-color: #000;
    grid-area: footer;
    color: #fff;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    

    a{
        list-style: none;
        text-decoration: none;
        color: #fff;  
    }

    &__div{
        display: inline;
    }
    
    &__item{
        display: block;
    }
    

}