.main{
    
    background-size: 50px;
    grid-area: main;

    &__titulo{
        margin: auto;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px ;
        grid-template-areas: "h1 ."
                             " . .";
        background-image: url(https://images4.alphacoders.com/113/thumb-1920-1130246.jpg);
        
        height: 800px;

    }

    &__h1{
        grid-area: h1;
        color: #fff;
        padding:100px;
        font-size: 100px;

    }
    
    &__tituloT{
        position: relative;
        top: -400px;
        left: 900px;
        width: 100px;
        h1{
          font-size: 100px;
          color: #fff;
          -webkit-text-stroke: 1px black;
        }
        
       
    }
    

    &__div{
        display: flex;
        justify-content: center;
    }


}

#mainayuda{
    margin-top: 40px;
}